html {
  font-family: sans-serif;
}

header {
  display: flex;
  background: black;
}

.logo {
  height: 125px;;
}

.fa-star {
  color: green;
}

.far, .reviews {
  color: white;
}

#mainTop {
  display: flex;
  border: 1px solid black;
  flex: 1;
}

.container {
  background-image: url("Images/background.png");
  background-size: cover;
}
.topSection {
  display: flex;
  justify-content: space-evenly;
}

.mainSection {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.title {
  display: flex;
  color: red;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
}

.titleTop {
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  text-align: center;
}

.topMiddle {
  flex-direction: column;
  justify-content: flex-end;
}

.topMiddle2 {
  align-items: center;
  justify-content: flex-end;
}

.topButton {
  height: 50%;
}

.points {
  display: flex;
}

.form {
  display: flex;
  background-color: gray;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.includes {
  display: flex;
  color: red;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
}

ul {
  color: red;
  font-weight: bold;
}

li {
  list-style: none;
  color: black;
}

.leftSide, .rightSide {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.number {
  display: flex;
  background-color: red;
  color: white;
  justify-content: center;
  align-items: center;
}

h2 {
  color: red;
  align-content: center;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 2em;
}

.bottomDivision {
  display: flex;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomButton {
  height: 35px;
  align-self: center;
}

.bottomMiddle {
  justify-content: flex-end;
}

footer {
  background: black;
  color: white;
}